.git
.github

__pycache__
*.py[cod]
*.egg-info

.pytest_cache
.ruff_cache
.mypy_cache
.pyre
.coverage
htmlcov

.venv
venv
env
ENV

.idea
.vscode

.env
.env.*
*.log

build
dist
tests

.DS_Store
**/.DS_Store
